*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;


}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#menu{
    display: flex;
    flex: 2;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    gap: 20px;
}
li{
    list-style: none;
    padding: 10px;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.input-search{
    display: flex;
    flex: 3;
    padding: 0 30px;
}
#search{
    background: rgb(226, 226, 226);
    padding: 10px;
    border-radius: 0 15px 15px 0;
    border: none;
}
#search-bar{
    padding: 10px;
    width: 90%;
    border-radius: 15px 0 0 15px;
    background: rgb(226, 226, 226);
    outline: none;
    border: none;
}
.account-chart{
    flex: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chart{
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
.introduction{
    background: #691FF0;
    display: flex;
    align-items: center;
    color: white;
    height: 40vh;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: space-between;
}
.container{
    padding: 40px 20px;
    background: rgb(202, 202, 202);
    display: grid;
    gap: 10px;

}
.card-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;

}
.card{
    background-color: rgb(255, 255, 255);
    width: 250px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card:hover, li:hover,.chart:hover{
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
    color: #691FF0;

}
.price,#product-price{
    color: red;
}
.detail, li ,.delete,.editbtn ,button{
    box-shadow: inset 0 0 0 0 #64ceff;
    margin: 0 -.20rem;
    padding: 20 .20rem;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
.detail:hover, li:hover , .delete:hover,.editbtn:hover,button:hover {
    box-shadow: inset 300px 0 0 0 #64ceff;
    cursor: pointer;
    color: white;
}
.image{
    height: 200px;
}
.card-body{
    padding-top: 20px;
    display:grid;
    gap: 10px;
}
.detail{
    border-radius: 0 0 15px 0 ;
}
.btn-Buy{
    border-radius: 0 0 0 15px ;
}
.detail{
    width: 80px;
}
#edit, #add{
    width: 70px;
}
button{
    padding: 10px;
    color: white;
    background-color: #201A74;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
footer{
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



/* seller page */
#product-dialog{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
}
dialog{
    position: fixed;
    top: 10vh;
    left: 20%;
    width: 60%;
    z-index: 100;
    border-radius: 12px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 0;
    margin: 0;
    overflow: hidden;
}
dialog header {
    font-size: 1.25rem;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

dialog section {
    padding: 1rem;
    width: 100%;
}

dialog menu {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 0;
}

dialog label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}
.input{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 10px;
    border-radius: 20px;
}
input:focus {
    background-color: #f0e6fd;
    outline: none;
}
.product-contanter{
    background: rgb(212, 212, 212);
    
    padding: 20px;
    display: grid;
    gap:20px;
}


.result{
    height: 200px;
    text-align: center;
    padding-top: 150px;
    display: none;
}

/* button */
#add-product{
    display: flex;
    justify-self: flex-end;
    cursor: pointer;
    
}
#product-add{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;

}

/* customer page */
.container{
    display: grid;
    gap: 40px;
}
.headProduct{
    display: grid;
    gap: 20px;
}
.title-customer{
    display: flex;
    justify-content: space-between;
}
.productContain{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5,1fr);
}
.bodyProduct{
    display: grid;
    gap: 20px;
}
.productList{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5,1fr);


}

.btn-container{
   /* background: #000;  */
   display: flex;
   justify-content: space-between;
}

.add-to-cart-btn{
    border-radius: 0 0 0 15px;

}
.more-detial{
    border-radius: 0 0 15px 0;
}


#detail{
    background: rgb(199, 199, 199);
    padding:3%;
    text-align: cent;
    display: none;

}
.infor{
    background: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    border-radius: 15px;
    width: 70%;
}

.img-contain{
    padding: 20px;
}
#image-detail{
    height: 400px;
    width: 450px;
    border-radius: 15px;
    display: flex;
}
.text-btn{
    padding: 3%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.product-title{

    display: grid;
    height: 100%;
    gap: 20px;
}
#product-name{
    font-size: 30px;
    font-weight: bold;
}
.btn{
    display: flex;
    flex: 0.2;
    gap: 8px;
    justify-content: space-evenly;
}
#add-cart{
    flex: 1;
    border-radius: 0 0 0 15px;
}
#buy-now{
    flex: 1;
    border-radius: 0 0 15px 0;
}


/* CART */
#Cart-container{
    background: rgb(221, 221, 221);
    display: flex;
    padding: 3%;
    gap: 3%;
}
.cart-shopping{
    background: rgb(255, 255, 255);
    padding: 2%;
    flex: 3;
}
table{
    /* background: rgb(244, 113, 113); */
    width: 100%;
}
th{
    /* background: rgb(14, 232, 65); */
    border-bottom: 4px solid rgb(0, 0, 118);
    padding: 2%;
}
.order-summay{
    background: rgb(255, 255, 255);
    padding: 2%;
    flex: 1;
}